.input > textarea {
    width: 98%;
    min-height: 60px;
    font-size: 12pt;
    font-family: serif;
}

@font-face {
    font-family: "pIqaD-qolqoS";
    src: url("./pIqaD-qolqoS.ttf") format("truetype");
}

.pIqaD, .pIqaD * {
    font-family: "pIqaD-qolqoS" !important;
}

@media (min-width: 900px) {
    .input {
        float: left;
        width: 31%;
        padding-left: 2%;
    }
}
