.input > textarea {
    width: 98%;
    min-height: 60px;
    font-size: 12pt;
    /* prefer serif/monospace fonts, as these are more likely to have distinct
     * glyphs for 'I' and 'l' */
    font-family: serif, monospace;
}

#detailed-help {
    padding-top: 1em;
    clear: both;
}

@font-face {
    font-family: "pIqaD-qolqoS";
    src: url("./pIqaD-qolqoS.ttf") format("truetype");
}

.pIqaD, .pIqaD * {
    font-family: "pIqaD-qolqoS" !important;
}

@media (min-width: 900px) {
    .input {
        float: left;
        width: 31%;
        padding-left: 2%;
    }

    .input > textarea {
        min-height: 240px;
    }
}
